<!DOCTYPE html>
{% load i18n %}
{% load static %}

<html lang="en">

<head>
    <title>Gradient Able Free Bootstrap Admin Template by CodedThemes</title>
    <!-- HTML5 Shim and Respond.js IE11 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 11]>
    	<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    	<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    	<![endif]-->
    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="" />
    <meta name="keywords" content="">
    <meta name="author" content="Codedthemes" />
    <!-- Favicon icon -->
    <link rel="icon" href="{% static 'assets/images/favicon.ico' %}" type="image/x-icon">

    <!-- vendor css -->
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">



</head>
<body class="">
	<!-- [ Pre-loader ] start -->
	<div class="loader-bg">
		<div class="loader-track">
			<div class="loader-fill"></div>
		</div>
	</div>
	<!-- [ Pre-loader ] End -->
	<!-- [ navigation menu ] start -->
	<nav class="pcoded-navbar menupos-fixed menu-light ">
		<div class="navbar-wrapper  ">
			<div class="navbar-content scroll-div " >
				<ul class="nav pcoded-inner-navbar ">
					<li class="nav-item pcoded-menu-caption">
						<label>Navigation</label>
					</li>
					<li class="nav-item">
					    <a href="index.html" class="nav-link "><span class="pcoded-micon"><i class="feather icon-home"></i></span><span class="pcoded-mtext">Dashboard</span></a>
					</li>
                    <li class="nav-item pcoded-hasmenu">
						<a href="#!" class="nav-link "><span class="pcoded-micon"><i class="feather icon-box"></i></span><span class="pcoded-mtext">About Us</span></a>
						<ul class="pcoded-submenu">
							<li><a href="bc_alert.html">The Commission</a></li>
                                <li><a href="bc_button.html">What We Do</a></li>
							<li><a href="bc_badges.html">Merger Guildlines</a></li>
							<li><a href="bc_breadcrumb-pagination.html">Strategic Goals</a></li>
							<li><a href="bc_card.html">Depertment & Units</a></li>
							<li><a href="bc_collapse.html">People</a></li>
							<li><a href="bc_carousel.html">Strategic Alliances</a></li>
							<li><a href="bc_grid.html">FAQs</a></li>
							<li><a href="bc_progress.html">Contact</a></li>
						</ul>
					</li>
					<li class="nav-item pcoded-hasmenu">
					    <a href="#!" class="nav-link "><span class="pcoded-micon"><i class="feather icon-layout"></i></span><span class="pcoded-mtext">Consumers</span></a>
					    <ul class="pcoded-submenu">
					        <li><a href="layout-vertical.html" target="_blank">Consumer Rights</a></li>
					        <li><a href="layout-horizontal.html" target="_blank">Consumer Responsibilities</a></li>
                            <li><a href="layout-vertical.html" target="_blank">Complaints Handling Procedures</a></li>
					        <li><a href="layout-horizontal.html" target="_blank">Testimonials</a></li>
					    </ul>
					</li>
                    <li class="nav-item pcoded-hasmenu">
					    <a href="#!" class="nav-link "><span class="pcoded-micon"><i class="feather icon-layout"></i></span><span class="pcoded-mtext">Businesses</span></a>
					    <ul class="pcoded-submenu">
					        <li><a href="layout-vertical.html" target="_blank">Business Obligations</a></li>
					        <li><a href="layout-horizontal.html" target="_blank">Register Sales Promotion</a></li>
                            <li><a href="layout-horizontal.html" target="_blank">Sales Promotion Documents</a></li>
					    </ul>
					</li>
                    <li class="nav-item pcoded-hasmenu">
					    <a href="#!" class="nav-link "><span class="pcoded-micon"><i class="feather icon-map"></i></span><span class="pcoded-mtext">Law & Regulations</span></a>
					    <ul class="pcoded-submenu">
					        <li><a href="layout-vertical.html" target="_blank">FCCPA</a></li>
					        <li><a href="layout-horizontal.html" target="_blank">Regulations</a></li>
                            <li><a href="layout-horizontal.html" target="_blank">Other Guidelines</a></li>
					    </ul>
					</li>
                    <li class="nav-item pcoded-hasmenu">
					    <a href="#!" class="nav-link "><span class="pcoded-micon"><i class="feather icon-align-justify"></i></span><span class="pcoded-mtext">Publications</span></a>
					    <ul class="pcoded-submenu">
					        <li><a href="layout-vertical.html" target="_blank">Business/Consumer Education</a></li>
					        <li><a href="layout-horizontal.html" target="_blank">Absolutely Prohibited Product List</a></li>
                            <li><a href="layout-vertical.html" target="_blank">Import Prohibition List</a></li>
					        <li><a href="layout-horizontal.html" target="_blank">PBOR</a></li>
                            <li><a href="layout-horizontal.html" target="_blank">Annual Reports</a></li>
					    </ul>
					</li>
                    <li class="nav-item"><a href="sample-page.html" class="nav-link "><span class="pcoded-micon"><i class="feather icon-sidebar"></i></span><span class="pcoded-mtext">Partners</span></a></li>
					<li class="nav-item pcoded-hasmenu">
					    <a href="#!" class="nav-link "><span class="pcoded-micon"><i class="feather icon-file-text"></i></span><span class="pcoded-mtext">News & Events</span></a>
					    <ul class="pcoded-submenu">
					        <li><a href="auth-signup.html" target="_blank">Releases</a></li>
					        <li><a href="auth-signin.html" target="_blank">Announcements</a></li>
                            <li><a href="auth-signup.html" target="_blank">Alert/Advisory</a></li>
					        <li><a href="auth-signin.html" target="_blank">Speeches</a></li>
                            <li><a href="auth-signup.html" target="_blank">Blog</a></li>
					        <li><a href="auth-signin.html" target="_blank">Events</a></li>
                            <li><a href="auth-signup.html" target="_blank">Gallery</a></li>
					    </ul>
					</li>
                    <li class="nav-item"><a href="sample-page.html" class="nav-link "><span class="pcoded-micon"><i class="feather icon-sidebar"></i></span><span class="pcoded-mtext">How to</span></a></li>
				</ul>

				<div class="card text-center">
					<div class="card-block">
						<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
						<i class="feather icon-sunset f-40"></i>
						<h6 class="mt-3">Help?</h6>
						<p>Please contact us on our email for need any support</p>
						<a href="#!" target="_blank" class="btn btn-primary btn-sm text-white m-0" style="background-color: #2ee20e">Support</a>
					</div>
				</div>

			</div>
		</div>
	</nav>
	<!-- [ navigation menu ] end -->
	<!-- [ Header ] start -->
	<header class="navbar pcoded-header navbar-expand-lg navbar-light headerpos-fixed header-blue">


				<div class="m-header">
					<a class="mobile-menu" id="mobile-collapse" href="#!"><span></span></a>
					<a href="#!" class="b-brand">
						<!-- ========   change your logo hear   ============ -->
						<img src="{% static 'assets/images/logo.jpg' %}" alt="" class="logo">
						<img src="{% static 'assets/images/logo-icon.png' %}" alt="" class="logo-thumb">
					</a>
					<a href="#!" class="mob-toggler">
						<i class="feather icon-more-vertical"></i>
					</a>
				</div>
				<div class="collapse navbar-collapse">
					<ul class="navbar-nav mr-auto">
						<li class="nav-item">
							<a href="#!" class="pop-search"><i class="feather icon-search"></i></a>
							<div class="search-bar">
								<input type="text" class="form-control border-0 shadow-none" placeholder="Search here">
								<button type="button" class="close" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
						</li>
						<li class="nav-item">
							<a href="#!" class="full-screen" onclick="javascript:toggleFullScreen()"><i class="feather icon-maximize"></i></a>
						</li>
					</ul>
					<ul class="navbar-nav ml-auto">
						<li>
							<div class="dropdown">
								<a class="dropdown-toggle" href="#" data-toggle="dropdown"><i class="icon feather icon-bell"></i>File a complaint</a>
							</div>
						</li>
                        <li>
							<div class="dropdown">
								<a class="dropdown-toggle" href="#" data-toggle="dropdown"><i class="icon feather icon-book"></i>Leave a review</a>
							</div>
						</li>
                        <li>
							<div class="dropdown">
								<a class="dropdown-toggle" href="#" data-toggle="dropdown"><i class="icon feather icon-map-pin"></i>Track complaint</a>
							</div>
						</li>
                        <li>
							<div class="dropdown">
								<a class="dropdown-toggle" href="#" data-toggle="dropdown"><i class="icon feather icon-anchor"></i>Know your right</a>
							</div>
						</li>
                        <li>
                            <div class="noti-footer">
                                <a href="{% url "home:login" %}">Login</a>
                            </div>
						</li>
                        <li>
                            <div class="noti-footer">
                                <a href="{% url "home:register" %}">Register</a>
                            </div>
						</li>
						<li>
							<div class="dropdown drp-user">
								<a href="#!" class="dropdown-toggle" data-toggle="dropdown">
                                    <img src="{% static 'assets/images/user/avatar-1.jpg' %}" class="img-radius wid-40" alt="User-Profile-Image">
                                </a>
								<div class="dropdown-menu dropdown-menu-right profile-notification">
									<div class="pro-head">
										<img src="{% static 'assets/images/user/avatar-1.jpg' %}" class="img-radius" alt="User-Profile-Image">
										<span>John Doe</span>
										<a href="auth-signin.html" class="dud-logout" title="Logout">
											<i class="feather icon-log-out"></i>
										</a>
									</div>
									<ul class="pro-body">
										<li><a href="user-profile.html" class="dropdown-item"><i class="feather icon-user"></i> Profile</a></li>
										<li><a href="email_inbox.html" class="dropdown-item"><i class="feather icon-mail"></i> My Messages</a></li>
										<li><a href="auth-signin.html" class="dropdown-item"><i class="feather icon-lock"></i> Lock Screen</a></li>
									</ul>
								</div>
							</div>
						</li>
					</ul>
				</div>


	</header>
	<!-- [ Header ] end -->



<!-- [ Main Content ] start -->
<div class="pcoded-main-container">
    <div class="pcoded-content">
        <!-- [ breadcrumb ] start -->
        <!-- <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <div class="col-md-12">
                        <div class="page-header-title">
                            <h5 class="m-b-10">Dashboard Analytics</h5>
                        </div>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="index.html"><i class="feather icon-home"></i></a></li>
                            <li class="breadcrumb-item"><a href="#!">Dashboard Analytics</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div> -->
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="row">
            {% block content %}

            {% endblock %}
        </div>
        <!-- [ Main Content ] end -->
    </div>

     <div class="row" style="background-color: #60cf4d">
        <div class="col-xl-12">
        <div class="card-group">
            <div class="col-xl-3">
                <div class="card-body">
                    <h5 class="card-title der">About Us</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                </div>
            </div>
            <div class="col-xl-3">
                <div class="card-body">
                    <h5 class="card-title der">Consumers</h5>
                    <p class="card-text"><a href="">Consumer Rights</a></p>
                    <p class="card-text"><a href="">Consumer Responsibilities</a></p>
                    <p class="card-text"><a href="">Complaints Handling</a></p>
                    <p class="card-text"><a href="">Procedures</a></p>
                    <p class="card-text"><a href="">Testimonials</a></p>
                </div>
            </div>
            <div class="col-xl-3">
                <div class="card-body">
                    <h5 class="card-title der">Businesses</h5>
                      <p class="card-text"><a href="">Consumer Rights</a></p>
                    <p class="card-text"><a href="">Consumer Responsibilities</a></p>
                    <p class="card-text"><a href="">Complaints Handling</a></p>
                    <p class="card-text"><a href="">Procedures</a></p>
                    <p class="card-text"><a href="">Testimonials</a></p>
                </div>
            </div>
            <div class="col-xl-3">
                <div class="card-body">
                    <h5 class="card-title der">Headquarters</h5>
                      <p class="card-text"><a href="">Consumer Rights</a></p>
                    <p class="card-text"><a href="">Consumer Responsibilities</a></p>
                    <p class="card-text"><a href="">Complaints Handling</a></p>
                    <p class="card-text"><a href="">Procedures</a></p>
                    <p class="card-text"><a href="">Testimonials</a></p>
                </div>
            </div>
        </div>
    </div>
        <!-- [ sample-page ] start -->
        <div class="col-sm-12">
            <div class="card fine" style="text-align: center; background-color: #f2f57f">

                <div class="card-header fine">
                    <h5>Copyright © 2020 Federal Competition and Consumer Protection Commission</h5>
                </div>
                <div class="card-body fine">
                    <p class="de">This is the official website of the Federal Competition and Consumer Protection Commission (FCCPC)</p>
                </div>

            </div>
        </div>
        <!-- [ sample-page ] end -->
    </div>
</div>

<!-- [ Main Content ] end -->
    <!-- Warning Section start -->
    <!-- Older IE warning message -->
    <!--[if lt IE 11]>
        <div class="ie-warning">
            <h1>Warning!!</h1>
            <p>You are using an outdated version of Internet Explorer, please upgrade
               <br/>to any of the following web browsers to access this website.
            </p>
            <div class="iew-container">
                <ul class="iew-download">
                    <li>
                        <a href="http://www.google.com/chrome/">
                            <img src="assets/images/browser/chrome.png" alt="Chrome">
                            <div>Chrome</div>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.mozilla.org/en-US/firefox/new/">
                            <img src="assets/images/browser/firefox.png" alt="Firefox">
                            <div>Firefox</div>
                        </a>
                    </li>
                    <li>
                        <a href="http://www.opera.com">
                            <img src="assets/images/browser/opera.png" alt="Opera">
                            <div>Opera</div>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.apple.com/safari/">
                            <img src="assets/images/browser/safari.png" alt="Safari">
                            <div>Safari</div>
                        </a>
                    </li>
                    <li>
                        <a href="http://windows.microsoft.com/en-us/internet-explorer/download-ie">
                            <img src="assets/images/browser/ie.png" alt="">
                            <div>IE (11 & above)</div>
                        </a>
                    </li>
                </ul>
            </div>
            <p>Sorry for the inconvenience!</p>
        </div>
    <![endif]-->
    <!-- Warning Section Ends -->

    <!-- Required Js -->
    <script src="{% static 'assets/js/vendor-all.min.js' %}"></script>
    <script src="{% static 'assets/js/plugins/bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/js/pcoded.min.js' %}"></script>

<!-- Apex Chart -->
<script src="{% static 'assets/js/plugins/apexcharts.min.js' %}"></script>


<!-- custom-chart js -->
<script src="{% static 'assets/js/pages/dashboard-main.js' %}"></script>
<script src="{% static 'assets/js/plugins/prism.js' %}"></script>
<script src="{% static 'assets/js/horizontal-menu.js' %}"></script>
<script>
        (function() {
            if ($('#layout-sidenav').hasClass('sidenav-horizontal') || window.layoutHelpers.isSmallScreen()) {
                return;
            }
            try {
                window.layoutHelpers._getSetting("Rtl")
                window.layoutHelpers.setCollapsed(
                    localStorage.getItem('layoutCollapsed') === 'true',
                    false
                );
            } catch (e) {}
        })();
        $(function() {
            $('#layout-sidenav').each(function() {
                new SideNav(this, {
                    orientation: $(this).hasClass('sidenav-horizontal') ? 'horizontal' : 'vertical'
                });
            });
            $('body').on('click', '.layout-sidenav-toggle', function(e) {
                e.preventDefault();
                window.layoutHelpers.toggleCollapsed();
                if (!window.layoutHelpers.isSmallScreen()) {
                    try {
                        localStorage.setItem('layoutCollapsed', String(window.layoutHelpers.isCollapsed()));
                    } catch (e) {}
                }
            });
        });
        $(document).ready(function() {
            $("#pcoded").pcodedmenu({
                themelayout: 'horizontal',
                MenuTrigger: 'hover',
                SubMenuTrigger: 'hover',
            });
        });
    </script>

<script src="{% static 'assets/js/analytics.js' %}"></script>

</body>

</html>


